<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="layout2.css">

    <title>Admission</title>

</head>

<body>

    <main>

        <div class="splitBlock">

          <div class="left-col">

            <h1>

                Reach Out

            </h1>



            <h2>

                Conference Secretariat

                163 Woodlands Place

                Algies Bay, Rodney 0920 </h2>



            <div class="date">

                123-456-7890

                hello@reallygreatsite.com



            </div>



            <div class="venue">

                @reallygreatsite

            </div>



            <div class="button">

              <a href="#">

                Reserve Your Seat

              </a>

            </div>





          </div>



          <div class="pic">

            <figure >
                <img src='puss.png' alt="Image" width="615px" height="583px">

            </figure>

          </div>

          <div>



      </main>



</body>

</body>

</html>