<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 3</title>
    <link rel="stylesheet" href="layout1.css">
</head>
<body>
    <h1>our 2025 keynote speakers</h1>
    <div class="container">
    <div class="speaker1">
    <img src="P2.PNG" width="300"><br>
    <h1 id="kimi1">leslie boatwright</h1>
    <p id="txt1"> Head of Marketing</p>
    <p id="txt12">The Hobbibox</p>
    <p id="txt13">September 16</p>
    </div>
    <div class="speaker2">
    <img src="s1.PNG" id="img2">
    <h1 id="kimi2">nicholas newark</h1>
    <p id="txt2"> Director of Design</p>
    <p id="txt22">Studio Ralia</p>
    <p id="txt23">September 17<p>
    </div>
    <div class="speaker3">
    <img src="p3.PNG" id="img3">
    <h1 id="kimi3">kin gyun</h1>
    <p id="txt3">Founder and CEO</p>
    <p id="txt32">The Treasurebox Online </p>
    <p id="txt33">September 18</p>
    </div>
    </div>
</body>
</html>